body{
    min-height: 100vh;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* box-sizing:content-box; */
    /* max-height:max-content; */
}

p{
    margin: 0;
}

p.small-font{
    font-size: 25px;
}

.flex-aligned{
    display: flex;
    align-items: center;
}

.big-font-25{
    font-size: 25px;
}

.big-font-30{
    font-size: 30px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.svg-icons{
    height: 5vh;
    margin-right: 20px;
}
.svg-icons-small{
    height: 3vh;
    margin-right: 20px;
    margin-left: 10px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
    max-height: fit-content;    
}

.sidebar{
    font-size: 30px;
    background-color: #7dd3fc;
    grid-row: 1 /3;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8%;
}
svg{
    color: white;
    fill: white;
}

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px;
    padding-left: 4%;
    padding-right: 4%;
}

.account{
    justify-content: center;
}
input{
    width: 75%;
    font-size: 22px;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #ddd;
}

.round-image{
    height: 8vh;
    margin-right: 20px;
    border-radius: 50%;
}

.big-image{
    height: 10vh;
    margin-right: 20px;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 12%;
}

button{
    background-color: #38bdf8;
    color: white;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 20px;
}

.main-content{
    background-color: #e0f2fe;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2,0.25fr 4fr);
    padding: 3%;
    padding-bottom: 4%;
    gap: 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    /* grid-auto-flow: row; */
}

.projects{
    grid-row: 2/5;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(150px,1fr)); */
    gap: 5%;
    
}

.cards{
    background-color: white;
    border-radius: 10px;
    padding: 4%;
    border-left: 10px solid orange;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-buttons{
    display: flex;
    position: absolute;
    right: 3%;
    bottom: 5%;
}

.announcement{
    background-color: white;
    border-radius: 10px;
    padding: 10%;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

h5{
    margin: 0;
}

.notify{
    padding-top: 6%;
    padding-bottom: 6%;
    border-bottom: 1px solid gray;
}
.notify-above{
    padding-top: 6%;
}

.trending{
    background-color: white;
    border-radius: 10px;
    padding: 10%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.trending > div{
    display: flex;
    align-items: center;
}

.trending-profiles{
    height: 5vh;
    width: 2.5vw;
    border-radius: 50%;
    margin-right: 4%;
}

.light-font{
    color: gray;
}

img:hover,
.sidebar ul li:hover,
.trending .new:hover{
    transform: translateY(-2px);
    transition: 0.2s;
}
img:active,
.sidebar ul li:active,
.trending .new:active{
    transform: translateY(3px);
    transition: 0.2s;
}

button:hover{
    background-color: #4ade80;
    transform: translateY(-4px);
    transition: 0.2s ease-in-out;
}

button:active{
    transform: translateY(5px);
    background-color: #22c55e;
    transition: 0.2s;
}

.cards:hover,
.announcement:hover,
.trending:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    transform: translateY(-2px);
    transition: 0.2s ease-in-out;
    
}


